:root {
  --gray: #d9d8d8;
  --gray-dark: #7c8085;
  --gray-focus: #484d53;
  --red: #ff1c1c;
  --yellow: #edf781;
}

html,
body {
  height: 100%;
}

.container {
  margin: 2% auto;
  width: clamp(380px, 95%, 1200px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapperButtons {
  width: 80%;
  margin: 2% auto;
  display: flex;
  justify-content: center;
  gap: 5%;
  button {
    padding: 2%;
    border: 2px solid transparent;
    border-radius: 15px;
    font-weight: 800;
    font-size: 16px;
    color: var(--gray-focus);
    background-color: var(--yellow);
    &:disabled {
      background-color: var(--gray-dark);
    }
    &:hover {
      cursor: pointer;
      border: 2px solid var(--gray-dark);
    }
    &:focus {
      cursor: pointer;
      background-color: var(--red);
    }
  }
}
